//Libre_Baskerville
@font-face {
    font-family: Libre_Baskerville;
    src: url(assets/font/LibreBaskerville-Regular.ttf);
}
//Libre_Baskerville
@font-face {
    font-family: HKGrotesk-SemiBold;
    src: url(assets/font/HKGrotesk-SemiBold.otf);
}

//Color
$primary-color: #003B5C;
$paragraph-color: #5D534F;
$footer-color: #E74832;

h2 {
    font-size: 36px;
    color: $primary-color;
}

p {
    font-family: Libre_Baskerville;
    color: $paragraph-color;
}

a {
    color: $primary-color !important;
    text-transform: uppercase;
}

nav {

    padding: 1%;
    
    .items {
        display: flex;
        justify-content: space-between;
    }

    ul {
        text-transform: uppercase;
        font-size: 12px !important;
    }
}

.jaguar-img {
    width: 100%;
    max-width: 46rem;
    height: auto;
    display: block;
}

.whisky-img {
    width: 100%;
    max-width: 32.438rem;
    height: auto;
    display: block;
}