//Libre_Baskerville
@font-face {
    font-family: Libre_Baskerville;
    src: url(assets/font/LibreBaskerville-Regular.ttf);
}
//HKGrotesk
@font-face {
    font-family: HKGrotesk-SemiBold;
    src: url(assets/font/HKGrotesk-SemiBold.otf);
}

//Color
$primary-color: #003B5C;
$paragraph-color: #5D534F;
$footer-color: #E74832;
$border: #E5DBD1;
$subnav: #4F4D4D;

.subtitle {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: $primary-color;
    border: 1px $border solid;
    padding: 1%;
}

h3 {
    font-size: 22px;
    color: $primary-color;
}

p {
    font-family: Libre_Baskerville;
    color: $paragraph-color;
}

a {
    color: $primary-color;
    text-transform: uppercase;
}

nav {

    padding: 1%;

    a {
        color: $primary-color !important;
    }
    
    .items {
        display: flex;
        justify-content: space-between;
    }

    ul {
        text-transform: uppercase;
        font-size: 12px !important;
    }
}

.jaguar-img {
    width: 100%;
    max-width: 46rem;
    height: auto;
    display: block;
}

.whisky-img {
    width: 100%;
    max-width: 32.438rem;
    height: auto;
    display: block;
}

.blog-img {
    width: 100%;
    max-width: 25.688rem;
    height: auto;
    display: block;
}

.subnav {
    ul {
        overflow: hidden;
    }
    li {
        a {
            color: $subnav !important;
        }
    }
}

.link-category {
    font-size: 12.03px;
}

.read-more {
    color: $footer-color;
    text-transform: uppercase;
}

.newsletter {
    background-image: url(../assets/img/NEWSLETTER.png); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 456px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-bottom: 5%;

    h2 {
        font-size: 52px;
        padding-top: 5%;
    }

    p {
        padding-top: 3%;
        font-size: 22px;
        color: white;
        padding-top: 3%;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 1%;
    }

    a {
        color: $primary-color;
        background-color: white;
    }
}